html{
	background-image: url("../img/bg.jpg");
	width: 100%;
	height: 100%;
}

body {
	background-color: white;
	width: 100%;
	height: 100%;
}

h1{
  font-size: 5vmax;
  font-family: 'Fjalla One', serif;
  text-align: center;
  font-weight: 800;
}

h2{
  font-size: 2.vmax;
  font-family: 'Bitter', serif;
  font-weight: 600;
/*  display: inline;*/
}

h4 {
	font-size: 1.2vmax;
/*	display: inline;*/
}

p {
	font-family: 'Georgia W01 Regular', Georgia;
}

.nav {
	margin: auto;
}

.nav h3 {
	font-size: 1.8vmax;
	display: inline;
	text-align: center;
}

#logo-before {
	max-width: 350px;
	display: inline;
	margin: auto;
}

.roster-names{
  font-size: 40px;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400;
}

.top .row{
  margin: 0px;
  max-width: none;
}

ul{
  list-style-type: none;
  border: none;
}

#img-container {
	position: relative;
	height: 100%;
	width: 100%;
	padding: 2% 21%;
/*
	-webkit-box-shadow:
     inset 0 0 50px #000,
                inset 0 0 50px #000,
                inset 0 0 50px #000;

     -moz-box-shadow:
     inset 0 0 50px #000,
                inset 0 0 50px #000,
                inset 0 0 50px #000;

          box-shadow:
     inset 0 0 50px #000,
                inset 0 0 50px #000,
                inset 0 0 50px #000;
	*/
	margin-bottom: 5%;
}


.top {
  background-color: #fff;
}

.top-margin{
	margin-top: 2.5% !important;
/*	margin-bottom: 2.5%;*/
	padding-bottom: 50px;
}

.content-margin{
	margin-top: 10%;
}

.parallax-image-background{
	height: 100em;
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.parallax-image-background1{
	height: 150em;
	width: 100%%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.center-text{
	text-align: center;
}

.center-image{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.content{
	padding: 0px 10%;
}

.db-image-caption{
	font-size: .75em;
	opacity: .8;
}

.block_photo_right{
    float: right;
    width: 15em;
    margin: 15px -100px 15px 15px;
}

.block_photo_left{
    float: left;
    width: 15em;
    margin: 15px 15px 15px -100px;
}


footer {
    color: rgba(0,0,0, 0.7);
    padding: 8px 0 17px 0;
    font-size: 0.7em;
    clear: both;
    border-top: 1px solid rgba(0,0,0, 0.1);
    text-align: center;
}

.image-hover:hover{
	box-shadow: 0 5px 45px #000;
 -webkit-transition: all .7s ease-in-out;
 -moz-transition: all .7s ease-in-out;
 -o-transition: all .7s ease-in-out;
 -ms-transition: all .7s ease-in-out;
 width: 175%;
 height: 175%;
	margin-bottom: 3%;
}

.image-hover{
	-webkit-transition: all .7s ease-in-out;
	-moz-transition: all .7s ease-in-out;
	-o-transition: all .7s ease-in-out;
	-ms-transition: all .7s ease-in-out;
	margin-bottom: 1%;
}

/* 2017 code */
.flip-toggle{
	position: absolute;
	bottom: 16px;
	right: 16px;
}

.KortPeterson {
	height: 100%;
	width: 70%;
}

#KortPetersonCard {
	width: 50vw;
	margin: 0 auto;
}

.front-card-content {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
}

.front-card-content:hover {
	 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.front-card-content h1 {
	text-align: center;
}

.front-card-content h2 {
	text-align: center;
}

.back-card-content {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
	padding: 5%;
}

.back-card-content:hover {
	 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.back-card-content img {
	height: 200px;
	display: block;
	float: right;
}

.player-info p {
	font-size: 12px;
	font-family: 'Oswald', sans-serif;
}

.player-name h3 {
	font-family: 'Fjalla One', serif;
}

.player-name p {
	font-size: 20px;
	font-family: 'Fjalla One', serif;
}

.blurb {
	font-size: 12px;
	font-family: 'Oswald', sans-serif;
}

.stats-circle {
		text-align: center;
		font-size: 10px;
		font-family: 'Oswald', sans-serif;
		color: white;
		width: 16.66%;
    height: 0;
    padding-bottom: 16.66%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
		background-color: black;
}

.stats-circle p:first-child {
	padding-top: 20%;
}

.statistics p {
	font-size: 12px;
	font-family: 'Fjalla One', serif;
}
